.categories {

    flex: 1;
    min-height: 100%;
    border-right: thin solid black;
    
    .categories__heading {
        margin-left: 20px;
        margin-top: 20px;
        color: midnightblue;
        font-size: 22px;
        font-weight: bold;
        cursor: text;
    }

    .categories__list {
        margin-left: 20px;
        margin-top: 20px;

        .category {
            margin-bottom: 10px;
            cursor: pointer;
            color: black;
            font-size: 18px;
            transition: all 0.1s ease-in-out;

            &:hover {
                color: #FF0000;
            }
        }

        .category--active {
            color: blue !important;
            font-weight: bold;
        }

    }

}