.footer {
    min-height: 10vh;
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
    letter-spacing: 2px;
}